body{
    font-family: 'Ubuntu', sans-serif;
}

#left{
    width:50%;
    float:left;
}

#right{
    width:50%;
    float:right;
}

h2{
    text-align: center;
}

p{
    text-align: justify;
}

button{
    
}

