body{
    font-family: 'Ubuntu', sans-serif;
}

#left{
    width:50%;
    float:left;
}

#right{
    width:50%;
    float:right;
}

h2{
    text-align: center;
}

p{
    text-align: justify;
}

button{
    background-color:purple;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    float:right;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

