body{
    font-family: 'Ubuntu', sans-serif;
}

#left{
    width:50%;
    float:left;
}

#right{
    width:50%;
    float:right;
}

h2{
    text-align: center;
    padding-bottom: 10px;
    margin-top:30px;
}

#right{
    display: flex;
    flex-direction: column;

}
p{
    text-align: justify;
    margin-right:auto;
    margin-left:auto;
    padding-left: 30px;
    padding-right:30px;
}

#SubmitSoal5{
    background-color:purple;
    border: none;
    color: white;
    display: flex;
    float: left;
    padding: 15px 32px;
    margin-left:375px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

textarea{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px;
    margin-bottom:20px;
}

